{% extends 'base.html' %}
{% block content %}
    <div class="d-inline-flex p-2 w-50 h-50 row align-items-center">
        <div class="form-control">
            <form action="" class="form-inline justify-content-center">
                <label for="exampleFormControlSelect1">Example select</label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
            </form>
        </div>
     </div>
    </div>
{% endblock %}