{% extends "base.html" %}
{% block content %}
    <div class="container-fluid h-25 bg-light text-dark">
      <div class="row justify-content-center align-items-center">
      </div>
        <div class="row justify-content-center align-items-center h-100">
            <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
                <form action="">
                    <div class="form-group">
                      <select class="form-control">
                                <option>Option 1</option>
                                <option>Option 2</option>
                      </select>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row1">
                        <div class="col-md-1">
                            <img src="../static/cena_id_produktu.png" class="img-fluid" alt="Responsive image">
                        </div>
    </div>

{% endblock %}
